@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dostęp zabroniony!</h2>
<p>Nie masz praw by oglądać tę stronę.</p>

<div>
    @Html.ActionLink("Powrót do strony głównej", "Index", "Home")
</div>